{% extends "../base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oK6OqphSbjU" allowfullscreen></iframe>
		</div>	
			<br></br> 

		<div>                                     
			<a type="button" class="btn btn-danger" target=_blank_ href="https://www.blood.co.uk/the-donation-process/">        Find out more about donation process</a> 
		</div>
		
		
		<br></br>
		
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YHxdhI5ZrHc" allowfullscreen></iframe>   
		</div>                                           
			<br></br>
		<div>
			<a type="button" class="btn btn-danger" target=_blank_ href="https://www.blood.co.uk/the-donation-process/preparing-to-give-blood/">        Find out more about preparation</a>
		</div> 
		
		<br></br>
		
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Vs2tol42eyk" allowfullscreen></iframe>                                             
		</div>
			<br></br>
		<div>
			<a type="button" class="btn btn-danger" target=_blank_ href="https://www.blood.co.uk/who-can-give-blood/">        Find out if you can donate</a>
		</div> 
		
		<br></br>
		
		<div>
			<p >Do you need more informations? 
			<a target=_blank_ href="https://my.blood.co.uk/Home/ContactUs">Contact professionals</a>
			</p>
			
		</div> 
		
		
		
		
	
		
    </div>
  </div>



{% endblock %}
