{% extends "../base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-2">
     
    </div>
    <div class="col-sm-8 text-center">
		<p>Here you can check how to prepare to donation</p>
		<a type="button" class="btn btn-danger" href="https://www.blood.co.uk/the-donation-process/preparing-to-give-blood/">Prepare</a>
		<br></br>
		<p>Who can donate blood</p>
		<a type="button" class="btn btn-danger" href="https://www.blood.co.uk/who-can-give-blood/">Donors</a>
		
    </div>
    <div class="col-sm-2">
      
    </div>
  </div>



{% endblock %}
