{% extends "../base.html" %}
{% block content %}

<p>
<img src="https://cdn-images-1.medium.com/max/1600/1*arNCqidepDKMH8T5B0d6kA.jpeg" class="img-fluid" alt="Responsive image" height="100" width="1300">
</p>

<br></br>
<h4>
<p><b>	What is this site for?</b></p>
</h4>
    <ul>
      <li>Monitor your blood donations</li>
      <li>Check what you need to do to donate</li>
      <li>Invite your friends</li>
    </ul>


<div class="d-flex justify-content-center">
	<a type="button" class="btn btn-danger" target=_blank_ href="{% url 'signup' %}">Sign up</a>
	<ul></ul>
	<a type="button" class="btn btn-danger" target=_blank_ href="{% url 'login' %}">Log in</a>
</div> 
  
		
  
{% endblock %}
