<!--
<div>
	<title>Blood app</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
	<p>suka bl</p>
  <p><a href="{%url 'login' %}">Login</a> <a href="{% url 'logout' %}">Logout</a> <a href="{% url 'profile' %}">Profile</a></p>
	-->

<head>
<body>

<div>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<title>Blood app</title>
  <div class="jumbotron">
    <div class="container">
      
      <p><a href="/" class="btn btn-success "><i class="fas fa-magic mr-1"></i>HOME</a>
      	 <a href="/news" class="btn btn-warning ">What's new</a>
      	 <a type="button" class="btn btn-secondary">Info</a>
      	 {% block content %}
      	<h2>Thank you for becoming a blood donor!</h2>
	    <p>What you’re about to do can save up to three lives — that’s pretty amazing.</p> 
      	<p>It’s just one of the reasons why giving blood feels good.</p>
        <p>It’s normal to feel a bit nervous about your first donation, but this guide will help ensure you have a great experience.</p>
        

      	
         <a href="{% url 'signup' %}" class="btn btn-primary btn-lg">Sign up &raquo;</a>
         <a href="{% url 'profile' %}" class="btn btn-info btn-lg">Your profile &raquo;</a>
        
        <p></p>
    <p><a href="{% url 'login' %}" class="btn btn-primary btn-lg">Sign in &raquo;</a>
        <a href="{% url 'logout' %}" class="btn btn-primary btn-lg">Sign out &raquo;</a>

    </p>
    {% endblock %}



        
      </p>
    </div>
  </div>
  <div class="container">
    <img src="{% static '/image/1.jpg' %}" class="img-thumbnail">
    <hr>
    &copy; All rights reserved 2019 
    &copy; Our lawer Julian will destroy you in case of copyright steal
</div>

</body>
</head>
