{% extends "../base.html" %}
{% block content %}

<h1>Welcome {{user.username}}</h1>

Django Auth Model:
<ul>
  <li>{{user.first_name}} {{user.last_name}}</li>
  <li>{{user.email}}</li>
  <li>{{user.password}}</li>
  <li>{{user.groups}}</li>
  <li>{{user.user_permissions}}</li>
  <li>Staff {{user.is_staff}}</li>
  <li>Active {{user.is_active}}</li>
  <li>Superuser {{user.is_superuser}}</li>
  <li>{{user.last_login}}</li>
  <li>{{user.date_joined}}</li>
</ul>

Our Profile Model:
<ul>
  <li>Birthdate: {{user.profile.birthdate}}</li>
  <li>Receive Notifications: {{user.profile.receive_notifications}}</li>
  <li>Bloodtype: {{user.profile.get_bloodtype_display}}</li>
  <li>Gender: {{user.profile.get_gender_display}}</li>
  <li>You last donated: {{user.profile.get_last_donation_date}}</li>
  <li>For your health, you should not donate before: {{user.profile.get_next_donation_date}}</li>
</ul>

<div>
  <h3>Actions</h3>
  <p><a href="{% url 'logout' %}">Logout</a> <a href="{% url 'add-donation' %}">Add blood donation</a> <a href="{% url 'see-donations' %}">See your donations</a> <a href="{% url 'add-donation-place' %}">Add public donation facility</a> <a href="{% url 'edit_profile' %}">Edit profile</a> <a href="{% url 'password_change'%}">Change password</a> <a href="{% url 'delete-user' %}">Delete profile</a></p>
</div>
{% endblock %}
