<h1>Welcome {{user.username}}</h1>

Django Auth Model:
<ul>
  <li>{{user.first_name}} {{user.last_name}}</li>
  <li>{{user.email}}</li>
  <li>{{user.password}}</li>
  <li>{{user.groups}}</li>
  <li>{{user.user_permissions}}</li>
  <li>Staff {{user.is_staff}}</li>
  <li>Active {{user.is_active}}</li>
  <li>Superuser {{user.is_superuser}}</li>
  <li>{{user.last_login}}</li>
  <li>{{user.date_joined}}</li>
</ul>

Our Profile Model:
<ul>
  <li>{{user.profile.birthdate}}</li>
  <li>{{user.profile.receive_notifications}}</li>
  <li>{{user.profile.bloodtype}}</li>
  <li>{{user.profile.gender}}</li>

</ul>

<div>
  <p><a href="{% url 'logout' %}">Logout</a> <a href="{% url 'edit_profile' %}">Edit profile</a></p>
</div>
